@import "../../../scss/helpers/color";
@import "../../../scss/helpers/text";
@import "../../../scss/helpers/shadow";

$tooltip-triangle-border: 8px;

:root {
    
  }
  


.sidebar-container {
    --background-color: #{$light-theme-bg};
    --text-color: #{$light-theme-text};
    [data-theme='dark'] & {
        --background-color:  #{$dark-theme-bg};
        --text-color: #{$dark-theme-text};
      }
    position: fixed;
    width: 260px;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    z-index: 500;
    padding-top: 40px;
    background-color: var(--background-color);
    color: var(--text-color);
}


.sidebar-item {
    z-index: 500;
    position: relative;
    font-family: $theme-font, sans-serif;
    font-weight: $theme-font-weight;
    margin-bottom: 34px;
}


.nav-link {
    --text-color: #{$light-theme-text};
    [data-theme='dark'] & {
        --text-color: #{$dark-theme-text};
      }
    width: 100%;
    position: relative;
    color: var(--text-color) !important;
    padding-left: 50px !important;
    font-size: 16px !important;
}

.nav-link.active {
    color: $theme-color !important;

    .selected-bar {
        // display: block;
        opacity: 1;
    }
}

.nav-link.active .sidebar-item-label-container {
    color: $theme-color;
}

.sidebar-link {
    display: flex !important;
    align-items: center;
}

.selected-bar {
    opacity: 0;
    height: 52px;
    width: 3px;
    border-radius: 20px;
    background: $theme-color;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.sidebar-link-right-container {
    margin-left: 16px;
}

.sidebar-item-label-container {
    color: $link-default-white;
}


.sidebar-item-subtitle {
    color: $link-default-gray;
    font-size: 10px;
}

.nav-link.active .sidebar-item-subtitle {
    color: $link-selected-white;
}

.avatar-container {
    width: 100px; /* 大頭貼的寬度 */
    height: 100px; /* 大頭貼的高度 */
    overflow: hidden; /* 隱藏超出的部分 */
    border-radius: 50%; /* 圓形的關鍵 */
    border: 1px solid #ccc;
    margin: auto;
    margin-bottom: 50px;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 保持圖片比例並填滿容器 */
}