@import "../../../scss/all.scss";


@mixin defaultTdStyle {
    padding: .5rem .5rem;
    font-size: 13px;
    vertical-align: middle;
}

.summary-table {
    min-width: 100%;

    .main-table-td {
        @include defaultTdStyle;
    }
}

// .main-table, // todo dele
// .main-table-td,
// .main-table-th {
//   border-collapse: collapse;
// }

.main-table-th {
    height: 50px;
    padding: 0 !important;

    [data-theme='light'] & {
        // --text-color: #{$light-mode-main-white};
    }

    [data-theme='dark'] & {
        --text-color: #{$dark-mode-main-white};
    }

    font-weight: 300;

    color: var(--text-color);

}

.main-table-td {
    padding: 0 !important;
    height: 50px;
    border-bottom: 0px solid $bright-gray !important;
    vertical-align: top;

    [data-theme='light'] & {
        // --text-color: #{$light-mode-main-white};
    }

    [data-theme='dark'] & {
        --text-color: #{$dark-mode-main-white};
    }

    font-weight: 300;

    color: var(--text-color);
}

.th-box {
    cursor: pointer;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    line-height: 17px;
    color: $theme-black;
    font-family: $theme-font;
    font-weight: $theme-font-weight;
    font-size: 14px;
}

.align-center-cell {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.align-left-cell {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.vertical-align-top-cell .th-box {
    display: flex;
    vertical-align: top;
    align-items: start;
}

.status-th,
.status-cell {
    padding: 0 !important;
    max-width: 64px;
    width: 64px;
}

.fixed-width-cell {
    width: var(--fixed-width);
    max-width: var(--fixed-width);
}

.sort-arrow {
    position: absolute;
    right: 10px;
    top: 17px;
    // bottom: 50%;
}



// --------------
.editing-row {

    [data-theme='light'] & {
        // --bg-color: #{$light-mode-primary};
        // --row-outline-color: #{$light-mode-primary};
    }

    [data-theme='dark'] & {
        --bg-color: #{$dark-mode-primary};
        --row-outline-color: #{$dark-mode-primary};
    }

    background-color: rgba(var(--bg-color), 0.1);
    outline: 1px solid var(--row-outline-color);

    transition: all 0.2s ease-in-out;
}

.main-table-td.updated input {
    border: 0.6px solid #1ecb83;
}

.edit-icon-cell {
    width: 24px;
    text-align: center;
}

.edit-icon {
    font-size: 14px;
}


.main-table-input {
    height: 34px;
    width: 100px;
    padding: 12px 16px;
    border: 0;
    /* 移除預設邊框 */
    border-radius: 5px;
    /* 圓角 */


    [data-theme='dark'] & {
        --bg-color: #{$dark-mode-input-bg-gray};
        --text-color: #{$dark-mode-input-white};
    }

    [data-theme='light'] & {
        // --bg-color: #{$light-mode-input-bg-gray};
        //  --text-color: #{$light-mode-input-white};
    }

    background: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    outline: none;
    transition: box-shadow .2s ease;
    box-shadow: inset 0 -2px rgba(0, 0, 0, 0);



    /* 移除 number 的微調箭頭（需要時才會生效） */
    // &[type="number"]::-webkit-outer-spin-button,
    // &[type="number"]::-webkit-inner-spin-button {
    //     -webkit-appearance: none;
    //     margin: 0;
    // }

    &[type="number"] {
        // -moz-appearance: textfield;
    }
}

.items-per-page-select {
    height: 34px;

}

.items-per-page-option {
    font-size: 10px;

    [data-theme='dark'] & {
        --bg-color: #{$dark-mode-input-bg-gray};
        --text-color: #{$dark-mode-input-white};
    }

    [data-theme='light'] & {
        // --bg-color: #{$light-mode-input-bg-gray};
        //  --text-color: #{$light-mode-input-white};
    }

    background: var(--bg-color);
    color: var(--text-color);
}