@import "../helpers/color";


.theme-divider {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 1px;

    [data-theme='light'] & {
        // --bd-color: #{$light-mode-highlight-white};
    }

    [data-theme='dark'] & {
        --bd-color: #{$dark-mode-highlight-white};
    }

    border-bottom: 0.5px solid var(--bd-color);

}


// .card-table-header-divider_old {
//     width: 100%;
//     height: 1px;

//     [data-theme='light'] & {
//         // --bd-color: #{$light-mode-highlight-white};
//     }

//     [data-theme='dark'] & {
//         --bd-color: #{$dark-mode-theme-gray};
//     }

//     border-bottom: 1px solid var(--bd-color);

// }

.card-table-header-divider {
    width: 100%;
    height: 1px;
    margin-bottom: 20px;

    [data-theme='light'] & {
        // --bd-color: #{$light-mode-dividor-gray};
    }

    [data-theme='dark'] & {
        --bd-color: #{$dark-mode-dividor-gray};

    }

    border-bottom: 0.5px solid var(--bd-color);

}