@import "../scss/helpers/color";
@import "../scss/helpers/text";
// @import "../scss/helpers/dimension";
@import "../scss/helpers/shadow";
@import "../scss/helpers/table";
@import "../scss/component/modal";

:root {
    --background-color: #{$light-theme-bg};
    --text-color: #{$light-theme-text};

}

[data-theme='dark'] {
    --background-color: #{$dark-theme-bg};
    --text-color: #{$dark-theme-text};
}

.app-fluid-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 260px auto;
    grid-template-rows: auto;
    grid-template-areas: "navigation content";
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.sidebar {
    grid-area: navigation;
}

.app-content {
    grid-area: content;
    // background-color: var(--background-color) !important;
    // color: var(--text-color) !important;
    overflow-x: scroll;
    width: calc(100vw - 260px);
    min-height: 100dvh;
}

// .app-content::-webkit-scrollbar {
//     height: 18px;
//     background-color: #dedede;

// }

// ::-webkit-scrollbar {
//     // height: 8px;
// }

// .app-content::-webkit-scrollbar-thumb {
//     background: #5E6880;
//     border-radius: 10px;
//     border: 3px solid transparent;

//     /* 讓 thumb 背景不要延伸進 border 的透明區 */
//     background-clip: content-box;
// }

// ::webkit-scrollbar-track {
//     background: #c02626;
//     /* 捲軸軌道背景 */
// }

// ::-webkit-scrollbar-thumb:horizontal {
//     // background-color: red;
//     // /* 捲軸本體顏色 */
//     // border-radius: 8px;
//     // border: 3px solid transparent;
//     // background-clip: content-box;
// }