@import "../scss/helpers/color";
@import "../scss/helpers/text";
// @import "../scss/helpers/dimension";
@import "../scss/helpers/shadow";
@import "../scss/helpers/table";
@import "../scss/component/modal";

:root {
    --background-color: #{$light-theme-bg};
    --text-color: #{$light-theme-text};
  }
  

  [data-theme='dark'] {
      --background-color:  #{$dark-theme-bg};
      --text-color: #{$dark-theme-text};
    }

.app-fluid-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
    grid-template-areas: "navigation content";
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.sidebar {
    grid-area: navigation;
}

.app-content {
    grid-area: content;
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    padding: 60px;
}

