// red
$theme-red: #fd3061;

// gray
$dark-blue-gray: #525f7f;
$extra-light-blue-gray: #f6f9fc;
$extra-light-gray: #dbe1e6;
$light-blue-gray: #8999ab;
$light-gray: #E9EBF2;

// theme
$theme-color: $theme-red;

// bootstrap
$primary: $theme-color;

// input
$input-placeholder-color: $dark-blue-gray;