// margin-top


.mt-20 {
    margin-top: 20px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-28 {
    margin-top: 28px;
}


.mt-40 {
    margin-top: 40px;
}


// ---------- margin-bottom ---------


.mb-20 {
    margin-bottom: 20px;
}

.mb-36 {
    margin-bottom: 36px;
}

.mb-40 {
    margin-bottom: 40px;
}