@import "../helpers/color";






// .table td,
// .table th {
//     font-size: 14px !important;



// }


.rdt_TableRow:hover {

    [data-theme='dark'] & {
        // background-color: $theme-dark-hover-bg !important;
    }

    [data-theme='light'] & {
        // background-color: $theme-dark-hover-bg !important;  // todo stday color
        background-color: white !important; // todo stday color
        color: black !important; // todo stday color
    }
}


.theme-table-footer {
    [data-theme='dark'] & {
        background-color: $dark-theme-bg;
        color: $dark-theme-table-text;
    }
}