@import "../helpers/color";


.table-card-wrapper {
    display: flex;
    padding: 20px;
    border-radius: 5px;

    --background-color: #{$light-theme-bg};
    [data-theme='dark'] & {
        --background-color:  #{$dark-theme-black-bg};
      }
    background-color: var(--background-color);
}


.table td, .table th {
    font-size: 13px !important;
    --background-color: #{$light-theme-bg};
    --text-color: #{$light-theme-text};
    [data-theme='dark'] & {
        --background-color:  #{$dark-theme-bg};
        --text-color: #{$dark-theme-text};
    }

    background-color:var(--background-color) !important;
    color: var(--text-color) !important;
    vertical-align: middle; 
}


.rdt_TableRow:hover {
    
    [data-theme='dark'] & {
        background-color: $theme-dark-hover-bg !important;
    }
  }


  .theme-table-footer {
    [data-theme='dark'] & {
        background-color: $dark-theme-bg;
        color: $dark-theme-table-text;
    }
  }